@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto" !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 27rem;
  height: 98.8vh;
  border: 5px solid #0E4A84;
}

@media (min-height: 800px) {
  body .wrapper {
    height: 758px;
  }
}

body .wrapper header.title {
  position: relative;
}

body .wrapper header.title p {
  display: inline;
  background-color: #0E4A84;
  padding: 2px 8px 2px 8px;
  color: #FFFFFF;
  font-size: 20px;
}

body .wrapper header.title h1 {
  font-size: 60px;
  font-weight: 700;
  padding-top: 8px;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 4px 4px 0px #0E4A84;
}

body .wrapper header.title > svg.memphis {
  position: absolute;
  top: -10px;
  left: 180px;
  z-index: -1;
}

body .wrapper header.title svg.round {
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: -1;
}

body .wrapper div.slide_wrapper {
  padding: 34px;
  position: relative;
}

body .wrapper div.slide_wrapper svg {
  position: absolute;
  z-index: -1;
  left: 17px;
  top: 10px;
}

body .wrapper div.slide_wrapper article.slider {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  height: 180px;
  border: 5px solid #0E4A84;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #C4C4C4;
          box-shadow: 0px 4px 4px #C4C4C4;
  overflow: hidden;
}

body .wrapper div.slide_wrapper article.slider ul.content_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body .wrapper div.slide_wrapper article.slider ul.content_wrapper img {
  width: 180px;
  height: auto;
}

body .wrapper div.option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper div.option button.btn {
  --duration: .5s;
  --move-hover: -4px;
  --shadow: 0 2px 4px -1px rgba(19, 100, 178, 0.4);
  --shadow-hover: 0 4px 10px -2px rgba(19, 100, 178, 0.8);
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 16px;
  border-radius: 24px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .5px;
  background: #0E4A84;
  color: #FFFFFF;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
  -webkit-transition: -webkit-transform var(--duration) ease, -webkit-box-shadow var(--duration) ease;
  transition: -webkit-transform var(--duration) ease, -webkit-box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease, -webkit-box-shadow var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

body .wrapper div.option button.btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper div.option button.btn div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}

body .wrapper div.option button.btn div span:nth-child(1) {
  --d: 0.05s;
}

body .wrapper div.option button.btn div span:nth-child(2) {
  --d: 0.1s;
}

body .wrapper div.option button.btn div span:nth-child(3) {
  --d: 0.15s;
}

body .wrapper div.option button.btn div span:nth-child(4) {
  --d: 0.2s;
}

body .wrapper div.option button.btn div span:nth-child(5) {
  --d: 0.25s;
}

body .wrapper div.option button.btn div span:nth-child(6) {
  --d: 0.3s;
}

body .wrapper div.option button.btn div span:nth-child(7) {
  --d: 0.35s;
}

body .wrapper div.option button.btn div span:nth-child(8) {
  --d: 0.4s;
}

body .wrapper div.option button.btn div span:nth-child(9) {
  --d: 0.45s;
}

body .wrapper div.option button.btn div span:nth-child(10) {
  --d: 0.5s;
}

body .wrapper div.option button.btn div span:nth-child(11) {
  --d: 0.55s;
}

body .wrapper div.option button.btn:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, .5);
  background-color: #1364b2;
}

body .wrapper div.option button.btn:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}

@-webkit-keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

body .wrapper p.hashtag {
  padding-top: 10px;
  font-size: 12px;
}

body .wrapper svg {
  position: absolute;
  top: 67px;
  z-index: -1;
}
/*# sourceMappingURL=indexStyle.css.map */