@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'SuncheonB';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto" !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27rem;
  height: 98.8vh;
  border: 5px solid #0E4A84;
}

@media (min-height: 800px) {
  body .wrapper {
    height: 758px;
  }
}

body .wrapper header#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 2px 0px #C4C4C4;
          box-shadow: 0px 2px 0px #C4C4C4;
  position: relative;
}

body .wrapper header#banner button {
  outline: none;
  border: none;
  background-color: #FFFFFF;
  font-size: 14px;
}

body .wrapper header#banner button:hover {
  color: gray;
}

body .wrapper header#banner h1 {
  font-size: 18px;
}

@media (min-width: 400px) {
  body .wrapper header#banner h1 {
    font-size: 22px;
  }
}

body .wrapper header#banner p.count, body .wrapper header#banner button.back {
  font-size: 14;
}

@media (min-width: 400px) {
  body .wrapper header#banner p.count, body .wrapper header#banner button.back {
    font-size: 16px;
  }
}

body .wrapper header#banner button.back {
  visibility: hidden;
}

body .wrapper header#banner div.gauge {
  height: 2px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 0%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #FFB800;
}

body .wrapper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .wrapper div.container div.frame {
  width: 306px;
  height: 518px;
  overflow: hidden;
}

body .wrapper div.container div.frame ul.content_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

body .wrapper div.container div.frame ul.content_wrapper .page {
  list-style: none;
  display: none;
}

body .wrapper div.container div.frame ul.content_wrapper .page.show {
  display: block;
}

body .wrapper div.container div.frame ul.content_wrapper div.img_wrapper {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper div.container div.frame ul.content_wrapper div.img_wrapper img {
  width: 300px;
  min-height: 300px;
  border-radius: 15px;
  border: 3px solid #0E4A84;
  -webkit-box-shadow: 0 3px 2px rgba(126, 126, 126, 0.3);
          box-shadow: 0 3px 2px rgba(126, 126, 126, 0.3);
}

body .wrapper div.container div.frame ul.content_wrapper div.discription {
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper div.container div.frame ul.content_wrapper div.discription p.text {
  margin-top: 30px;
  text-align: center;
  line-height: 24px;
  width: 220px;
  font-size: 1.2rem;
  font-weight: 700;
}

body .wrapper div.container div.frame ul.content_wrapper div.discription div.button_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

body .wrapper div.container div.frame ul.content_wrapper div.discription div.button_wrapper button {
  font-family: 'SuncheonB' !important;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: #0E4A84;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 2px 2px #C4C4C4;
          box-shadow: 0 2px 2px #C4C4C4;
}

body .wrapper div.container div.frame ul.content_wrapper div.discription div.button_wrapper button.check {
  color: #0E4A84;
  background-color: #FFFFFF;
  border: 2px solid #0E4A84;
}

body .wrapper div.container div.frame ul.content_wrapper div.discription div.button_wrapper button.check:hover {
  color: #FFFFFF;
  background-color: #1364b2;
}

body .wrapper div.container div.frame ul.content_wrapper div.discription div.button_wrapper button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

body .wrapper div.container div.frame ul.content_wrapper div.discription div.button_wrapper button:hover {
  background-color: #1364b2;
}
/*# sourceMappingURL=quizStyle.css.map */