@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$MAIN_BLUE: #0E4A84;
$MAIN_YELLOW: #FFB800;
$BG_COLOR: #FFFFFF;
$SHADOW_COLOR: #C4C4C4;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



        // border: none;
        // outline: none;
        // background-color: $MAIN_BLUE;
        // width: 200px;
        // height: 45px;
        // border-radius: 25px;
        // font-family: "Roboto";
        // font-weight: 700;
        // color: #FFFFFF;

        // &:hover {
        //   //background-color: lighten($MAIN_BLUE, 10%);
          
        // }