@import "common";
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $BG_COLOR;
}
body {
    @include flex-center;
    font-family: "Roboto" !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        @include flex-center;
        width: 27rem;
        height: 98.8vh;
        border: 5px solid $MAIN_BLUE;
      @media (min-height: 800px) {
        height: 758px;
      }
      header#banner {
        display: flex;
        width: 100%;
        min-height: 60px;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 2px 0px $SHADOW_COLOR;
        position: relative;
        button {
            outline: none;
            border: none;
            background-color: $BG_COLOR;
            font-size: 14px;
            &:hover {
                color: darken($BG_COLOR, 50%);
            }
        }
        h1 {
            font-size: 18px;
            @media (min-width: 400px) {
                font-size: 22px;
            }
        }

        p.count, button.back {
            font-size: 14;
            @media (min-width: 400px) {
                font-size: 16px;
            }
        }

        button.back {
            visibility: hidden;
        }

        div.gauge {
            height:2px;
            position: absolute;
            top: 60px;
            left: 0;
            width: 0%;
            transition: all .5s;
            background-color: $MAIN_YELLOW;
        }
      }
      div.container {
          @include flex-center;
          height: 100%;
          div.frame {
            width: 306px;
            height: 518px;
            overflow: hidden;
            ul.content_wrapper {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
              
              .page {
                  list-style: none;
                  display: none;
                  &.show {
                    display: block;
                  }
                }
      
                  div.img_wrapper {
                      width: inherit;
                      display: flex;
                      justify-content: center;
      
                      img {
                          width: 300px;
                          min-height: 300px;
                          border-radius: 15px;
                          border: 3px solid $MAIN_BLUE ;
                          box-shadow: 0 3px 2px rgba($color: #7e7e7e, $alpha: .3);
                      }
                  }
          
                    div.discription {
                        height: 12.5rem;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        p.text {
                            margin-top: 30px;
                            text-align: center;
                            width: 220px;
                            font-size: 1.2rem;
                            font-weight: 700;
                        }
                        div.button_wrapper {
                            display: grid;
                            grid-template-rows: 1fr 1fr;
          
                            button {
                                margin-top: 20px;
                                border: none;
                                outline: none;
                                background-color: $MAIN_BLUE;
                                width: 200px;
                                height: 45px;
                                border-radius: 25px;
                                font-family: "Roboto";
                                font-weight: 700;
                                color: $BG_COLOR;
                                box-shadow: 0 2px 2px $SHADOW_COLOR;

                                &.check {
                                    color: $MAIN_BLUE;
                                    background-color: $BG_COLOR;
                                    border: 2px solid $MAIN_BLUE;

                                    &:hover {
                                        color: $BG_COLOR;
                                        background-color: lighten($MAIN_BLUE, 10%);
                                    }
                                }
          
                                &:active {
                                  transform: translateY(2px);
                                }
                                
                                &:hover {
                                    background-color: lighten($MAIN_BLUE, 10%);
                                  }
                              }
                          }
                      }
                  }
                }
          }
      }
}