@import "common";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $BG_COLOR;
}

body {
    @include flex-center;
    font-family: 'SuncheonB' !important;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 27rem;
      height: 98.8vh;
      border: 5px solid $MAIN_BLUE;
      overflow: scroll;

      @media (min-height: 800px) {
        height: 758px;
      }

      div.mbti_wrapper {
        font-weight: 800;
        position: relative;

        p.mbti_ment {
          text-align: center;
          margin-top: 28px;
          font-size: 16px;
          color: $MAIN_BLUE;
        }

        svg {
          z-index: -1;
          position: absolute;
          top: 79px;
          left: -7px;
        }

        p.mbti_result {
          text-align: center;
          margin-top: 12px;
          font-size: 22px;
          line-height: 34px;
        }
      }

      div.course_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        h1.course {
          margin: 35px 0;
          color: $BG_COLOR;
        }

        svg {
          position: absolute;
          top: 19px;
          left: -17px;
          z-index: -1;
          filter: drop-shadow(0px 3px 3px $SHADOW_COLOR);
        }

        img.course_img {
          width: 210px;
          height: 210px;
          filter: drop-shadow(0px 3px 3px $SHADOW_COLOR);
        }
      }

      button.return {
          font-family: 'SuncheonB' !important;
          margin-bottom: 20px;
          border: none;
          outline: none;
          background-color: $MAIN_BLUE;
          width: 200px;
          height: 45px;
          border-radius: 25px;
          color: $BG_COLOR;
          box-shadow: 0 2px 2px $SHADOW_COLOR;

          &:active {
            transform: translateY(2px);
          }
          
          &:hover {
              background-color: lighten($MAIN_BLUE, 10%);
          }
      }

      p.not_yet {
        color: $MAIN_BLUE;
      }

      p.script {
        margin-top: 10px;
      }
    }
}